<p><%= link_to 'Show all articles!', articles_path %></p>

<h1><%= @article.title %></h1>
<p>
  <%= @article.text %>
</p>
<h3>All comments</h3>
<% @article.comments.each do |comment| %>
  <p><%= comment.author %>:
    <%= comment.body %></p>
    <% end %>
<p>
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :author %><br />
      <%= f.text_field :author %>
    </p>

    <p>
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </p>

    <p>
      <%= f.submit %>
    </p>

  <% end %>
</p>
