<div class="container">
  <div class="row">
        <p class="fs-2 text-center">Main menu</p>
        <div class="fs-5 col-md-2">
        <p><%= link_to 'New article', article_path([:new]) %></p>
        </div>
        <div class="fs-5 col-lg-2" >
        <p><%= link_to 'Show all articles', articles_path %></p>
        </div>
        <div class="fs-5 col-lg-2">
        <p><%= link_to 'About',  about_path(:about) %></p>
        </div>
        <div class="fs-5 col-lg-2">
        <p><%= link_to 'Information',  information_path(:information) %></p>
        </div>
        <div class="fs-5 col-lg-2">
        <p><%= link_to 'Terms',  terms_path(:show) %></p>
        </div>
        <div class="fs-5 col-lg-2">
        <p><%= link_to 'Contacts',  contacts_path(:new) %></p>
        </div>
      </div>
    </div>
  </div>
</div>
