<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-dark navbar-expand-lg  bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= t("layouts.my_blog") %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="col-md-10 navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about"><%= t("layouts.about_us") %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/articles"><%= t("layouts.articles") %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/information"><%= t("layouts.information") %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/terms"><%= t("layouts.terms") %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/contacts"><%= t("layouts.contacts") %></a>
        </li>
        <li class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
          <% if user_signed_in? %>
          Hello, <%= current_user.username %><%= button_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-secondary btn-sm"  %>
          <% else %>
          <%= button_to "Log in", new_user_session_path, class:"btn btn-secondary btn-sm"  %>
          <% end %>
        </li>

    </div>
    </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
