<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
<div class="d-grid gap-2 d-md-flex ">
  <% if user_signed_in? %>
  Hello, <%= current_user.email %><%= button_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-secondary btn-sm"  %>
  <% else %>
  <%= button_to "Log in", new_user_session_path, class:"btn btn-secondary btn-sm"  %>
  <% end %>
</div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
